/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

header {
    background-color:  #2c589a;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

.main-container {
    display: flex;
    margin: 20px;
}

/* Sidebar Styles */
.sidebar {
    width: 20%;
    background-color: #2c3e50;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    background-color: #34495e;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #1abc9c;
}


.content {
    width: 80%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    border-bottom: 2px solid  #2c589a;
    padding-bottom: 5px;
    margin-bottom: 15px;
    color:  #2c589a;
}


.profile-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.profile-info .info-block {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f4f4f9;
    color: #555;
    width: 100%;
    resize: none;
}

textarea {
    height: 100px;
}

button {
    background-color:  #2c589a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color:#2c589a;
}


#therapistnotes textarea {
    margin-bottom: 10px;
}

#actions button {
    margin-right: 10px;
}

#actions button:hover {
    background-color: #2c589a;
}

@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }

    .content {
        width: 100%;
    }

    .profile-info {
        grid-template-columns: 1fr;
    }
}
